django
psycopg2 
djangorestframework
djangorestframework-xml
djangorestframework-simplejwt
requests
flower
celery
redis
django-celery-results
django-celery-beat 
django-allauth
oauthlib
pyjwt
cryptography
social-auth-app-django
pydub
mutagen
django-auditlog
Pillow
python-docx
reportlab
python-memcached
django-extensions
channels
pytz
ffmpeg-python
django-tinymce
python-magic 
django-ckeditor-5
whitenoise
PyPDF2
unidecode 
geoip2 
